{% if post.connected_source %}
	{% for item in post.get_field('connected_source') %}
		{% if post.post_type == 'post' %}
			<p class="meta">Originally published on {{item.source_url ? '<a href="' ~ item.source_link ~ '" target="blank">' }}{{item.source_publication}}{{item.source_url ? '</a>'}}.</p>
		{% elseif post.post_type == 'presentation' %}
			<p class="meta">Presented at {{item.source_url ? '<a href="' ~ item.source_link ~ '" target="blank">' }}{{item.source_publication}}{{item.source_url ? '</a>'}}{{ item.source_date ? ', ' ~ item.source_date|date('F j, Y') }}</p>
		{% endif %}
	{% endfor %}
{% endif %}