{% if post.connected_source %}
	{% set item = TimberPost(post.connected_source) %}

	<p class="meta-dark">
	{% if post.post_type == 'article' %}
		Originally published in {{item.source_url ? '<a href="' ~ item.source_url ~ '" target="blank">' }}{{item.source_publication ? item.source_publication : item.post_title}}{{item.source_url ? '</a>'}}.
	{% elseif post.post_type == 'presentation' %}
		Presented at {{item.source_url ? '<a href="' ~ item.source_url ~ '" target="blank">' }}{{item.source_publication}}{{item.source_url ? '</a>'}}{{ item.source_date ? ', ' ~ item.source_date|date('F j, Y') }}
	{% endif %}
	{% include 'utility/edit-link.twig' %}
	</p>

{% endif %}
