<li class="teaser">
	{% block content %}
	
		{% if post.thumbnail %}
			<img src="{{ post.thumbnail.src('thumbnail') }}" alt="{{ post.thumbnail.alt }}" />
		{% endif %}

		<div class="teaser-inner">
			<time datetime="{{ post.date|date("y-m-d") }}">{{ post.date|date("F j, Y") }}</time>

			<h3 class="hed-teaser">
				<a class="hed-teaser-link" href="{{ post.link }}">{{ post.title }}</a>
			</h3>

			<p>{{ post.header_tagline }}
				<a class="read-more" href="{{ post.link }}">Read more</a>
			</p>

		</div> <!-- /end .teaser-inner -->
	{% endblock %}
</li> <!-- /end .teaser -->