{% extends "base.twig" %}

{% block content %}

	<div class="region content-main">
		<div class="l-sole">
			<div class="group">
				<h2 class="hed-section-sub">Contact Karen.</h2>

				{{ post.content }}

				<h2 class="hed-section-sub">{{ post.social_title }}</h2>

				<ul class="links-social">
					{% for social in post.get_field('social') %}
						<li><a href="{{ social.link }}"><img src="{{ TimberImage(social.icon).src }}" alt="{{ social.name}}" /></a></li>
					{% endfor %}
				</ul><!-- /end .links-social -->

				<h2 class="hed-section-sub">{{ post.headshots_title }}</h2>

				<ul>
					{% for shot in post.get_field('headshots') %}
						<li><a href="{{ shot.url }}">{{ shot.title }}</a></li>
					{% endfor %}
				</ul>

				<h2 class="hed-section-sub">{{ post.short_bio_title }}</h2>
				<p>{{ post.short_bio }}</p>

				<h2 class="hed-section-sub">{{ post.medium_bio_title }}</h2>
				<p>{{ post.medium_bio }}</p>

				<h2 class="hed-section-sub">{{ post.long_bio_title }}</h3>
				{{ post.long_bio|wpautop }}

			</div><!-- /end .group -->
		</div><!-- /end .l-sole -->
	</div><!-- /end .region.content-main.l-sole -->


{% endblock %}