{% extends 'base.twig' %}

{% block content %}

    <div class="region content-main">

        <div class="l-sole">

            <article class="group" datetime="{{ post.date|date("y-m-d") }}">
               <footer>
                    <div class="article-meta">
                        {% if post.connected_source %}
                            {% set source = TimberPost(post.connected_source) %}
                            <p>Originally created for <a href="{{ source.source_url }}">{{ source.source_publication }}</a>{% if source.source_date %}<time>{{ source.source_date|date('F j, Y')}}</time>{% endif %}</p>
                        {% endif %}
                    </div>
                </footer>

                <header>
                    <h2 class="hed-article-title">{{ post.title }}</h2>
                    <p class="article-lead">{{ post.header_tagline }}</p>
                </header>

                <section class="article-content">
                    {{ post.header_summary ? '<p>' ~ post.header_summary ~ '</p>'}}
                    <p class="lead-image full">
                    {% set img = TimberImage(post.header_image) %}
                    <img src="{{ img.src }}"
                        srcset="{{ fn('wp_get_attachment_image_srcset', post.header_image, 'medium') }}"
                        sizes="{{ fn('wp_get_attachment_image_sizes', post.header_image) }}"
                        alt="{{ alt ? alt : img.title }}">
                    </p>
                    {{ post.content }}
                </section>

                {% if post.get_field('citations') %}
                    <section class="article-citations">
                        <h2 class="hed-section-sub">Citations</h2>

                        <ul class="teaser-list">
                            {% for post in post.get_field('citations') %}
                                {% include 'partials/tease-source.twig' %}
                            {% endfor %}
                        </ul>

                    </section>
                {% endif %}

            </article><!-- /end .group -->

        </div><!-- /end .l-sole -->

    </div><!-- /end .region.content-main.has-index -->

{% endblock %}

