{% extends 'base.twig' %}

{% block content %}

    <div class="region content-main">

		<article class="group" datetime="{{ post.date|date("y-m-d")}}">
			<footer>
				<div class="article-meta">
						<p>Presented at <a href="#">TKTKTKTK</a> <time datetime="{{ post.date|date("Y-m-d H:i") }}">{{ post.date }}</time>.</p>
				</div>
			</footer>

			<header>
					<h2 class="hed-article-title">{{ post.title }}</h2>
					<p class="article-lead">{{ post.header_tagline }}</p>
			</header>

			<section class="article-content">
				<h3>Video</h3>
				<div class="embed-video">
					{{ post.video }}
				</div>

				<h3>Slides</h3>
				{{ post.slides }}

				<h3>Transcript</h3>

				<ol class="slide-list">
					{% for slide in post.get_field('contents') %}
						{% set img = TimberImage(slide.image) %}

						<li class="slide">
								<p class="slide-img">
									<img src="{{ img.src }}"
										srcset="{{ fn('wp_get_attachment_image_srcset', slide.image, 'medium') }}"
										sizes="{{ fn('wp_get_attachment_image_sizes', slide.image) }}"
										alt="{{ img.title }}">
								</p>
								<div class="slide-content">
										{{ slide.text }}
								</div>
						</li><!-- /end .slide -->
					{% endfor %}
				</ol>
			</section>

		</article><!-- /end .group -->

    </div><!-- /end .region.content-main.has-index -->

{% endblock %}

