{% extends 'base.twig' %}

{% block content %}

    <div class="region content-main">

        <div class="l-sole">

            <article class="group" datetime="{{ post.date|date("y-m-d")}}">
               <footer>
                    <div class="article-meta">
                        {% if post.connected_source %}
                            {% set source = TimberPost(post.connected_source) %}
                            <p>An <a href="#">article</a> originally published in <a href="{{ source.source_url }}">{{ source.source_publication }}</a>.</p>
                        {% endif %}
                    </div>
                </footer>

                <header>
                    <h2 class="hed-article-title">{{ post.title }}</h2>
                    <p class="article-lead">{{ post.header_tagline }}</p>
                </header>

                <section class="article-content">
                    <p>{{ post.header_summary }}</p>
                    <p class="lead-image full">
                    {% set img = TimberImage(post.header_image) %}
                    <img src="{{ img.src }}"
                        srcset="{{ fn('wp_get_attachment_image_srcset', post.header_image, 'medium') }}"
                        sizes="{{ fn('wp_get_attachment_image_sizes', post.header_image) }}"
                        alt="{{ alt ? alt : img.title }}">
                    </p>
                    {{ post.content }}
                </section>

            </article><!-- /end .group -->

        </div><!-- /end .l-sole -->

    </div><!-- /end .region.content-main.has-index -->

{% endblock %}


{# {% block html_head_container %}
    {% include 'html-header.twig' %}

    {% block head %}
    {% endblock %}
</head>
{% endblock %}

{% if body_class %}
<body id="www-karenmcgrane-com" class="{{body_class}}" data-template="base.twig">
{% else %}
<body id="www-karenmcgrane-com" data-template="base.twig">
{% endif %}

    {% block header %}

    {% endblock %}

    <main class="site-content">

        <div class="region content-main">
            {% if sidebar %}
            <div class="l-60-40">
            {% else %}
            <div class="l-sole">
            {% endif %}

            <div class="group">
                {% block before_content %}{% endblock %}

                {% block content %}
                  Sorry, no content
                {% endblock %}

                {% block after_content %}{% endblock %}
            </div><!-- /end .group -->

            {% if sidebar %}
                <aside class="group-alt">
                    {{sidebar}}
                </aside>
            {% endif %}

            {% if sidebar %}
            </div><!-- /end .l-60-40 -->
            {% else %}
            </div><!-- /end .l-sole -->
            {% endif %}


        </div><!-- /end .region.content-main -->

    </main>

    {% block footer %}
        {% include 'footers/_footer-site.twig' with { class : 'region site-footer' } %}
        {{ function('wp_footer') }}
    {% endblock %}

<!-- States referenced by `aria-describedby` -->
<div id="wayfinding" class="squelch">
    <span id="current-page">Current page</span>
</div>

</body>
</html> #}
