{# She wants to make you a cocktail so we will go to Cantina #}

{% extends 'headers/header.twig' %}

{% block before_header_content %}
  <div class="header-image-wrap">
    <div class="contain-lg">
      {% if title == 'Presentations' %}
        {% include 'utility/srcset.twig' with { id: presentations_image, class: 'header-image' } %}
      {% elseif title == 'Articles' %}
        {% include 'utility/srcset.twig' with { id: articles_image, class: 'header-image' } %}
      {% elseif title == 'Sources' %}
        {% include 'utility/srcset.twig' with { id: sources_image, class: 'header-image' } %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block header_content %}
  <div class="contain-md">
	 <h1 class="archive-title">{{title}}</h1>

	 <p class="lead">{{post.header_tagline}}</p>
	 <p class="summary">{{post.header_summary}}</p>
  </div>
  {# Ew. Ideally it would be this:
  {{Timber_Image(title ~ '_image').src('large')}} #}

  {# {{dump(title|lower ~ '_image')}} #}
  {# {% set archive_type =  %} #}
  {# {{Timber_Image(title ~ '_image').src('large')}} #}


{% endblock %}

{% block after_header_content %}{% endblock %}
