{% extends "teases/tease.twig" %}

{% block tease_content %}
	<p>{{post.source_blurb}}</p>

	{% if post.terms('category') %}
		<p class="teaser-meta">
			<span class="meta-dark">Category: </span>
			{% for type in post.terms('category') %}
				<a href="{{type.link}}">{{type.name}}</a>{{loop.last ? '' : ', '}}
			{% endfor %}
		</p>
	{% endif %}

	{% if post.terms('source_type') %}
		<p class="teaser-meta">
			Type:
			{% for type in post.terms('source_type') %}
				{{type.name}}{{loop.last ? '' : ', '}}
			{% endfor %}
		</p>
	{% endif %}

{% endblock %}
