{% extends "teases/tease.twig" %}

{% block tease_content %}

	<h5><a href="{{post.source_url}}" target="blank">{{post.title}}</a></h5>
	<p>{{post.source_blurb}}</p>

	{% if post.terms('category') %}
		<p class="meta-dark">
			<span class="meta-dark">Category: </span>
			{% for type in post.terms('category') %}
				{{type.name}}{{loop.last ? '' : ', '}}
			{% endfor %}
		</p>
	{% endif %}

	{% if post.terms('source_type') %}
		<p class="meta-dark">
			Type:
			{% for type in post.terms('source_type') %}
				{{type.name}}{{loop.last ? '' : ', '}}
			{% endfor %}
		</p>
	{% endif %}

{% endblock %}
