<article class="tease -{{post.post_type}}" id="tease-{{post.ID}}">
	{% block before_tease_content %}{% endblock %}

	{% block tease_content %}
		<h3 class="tease-title"><a href="{{post.link}}">{{post.post_title}}</a></h3>
		<p>{{post.header_summary}}</p>
	{% endblock %}

	{% block after_tease_content %}
		{% include 'footers/_footer-tease.twig' %}
	{% endblock %}
</article>
