<article class="teaser type-{{post.post_type}}" id="tease-{{post.ID}}">
    <div class="teaser-inner">

        {% block tease_header %}
        <h3 class="hed-teaser type-{{post.post_type}}"><a class="hed-teaser-link" href="{{post.link}}">{{post.post_title}}</a></h3>
        {% endblock %}

        {% block after_tease_header %}{% endblock %}

        {% block tease_content %}
        {{post.header_tagline ? '<p>' ~ post.header_tagline ~ '</p>' }}
        {% endblock %}

        {% block tease_footer %}
        {% include 'utility/edit-link.twig' %}
        {% endblock %}

    </div><!-- /end .teaser-inner -->
</article>
