{% extends "blocks/block.twig" %}

{% block content %}
	{% if block.textimage_format == 'caption'%}
		<img src="{{block.textimage_image}}" alt="Block image">
		<p class="block--textimage__caption">{{block.textimage_caption}}</p>
	{% elseif block.textimage_format == 'inline'%}
    <div class="block-textimage -inline">
      <div class="image-{{block.image_alignment}}"></div>
      <img src="{{block.textimage_image}}" alt="Block image">
    {{block.textimage_paragraph}}
    </div>
	{% endif %}
{% endblock %}
