{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-single.twig' with { class: 'header -single' }%}
{% endblock %}

{% block content %}
    <section class="article-content">
    {% if post.header_summary %}<p class="article-summary">{{post.header_summary}}</p>{% endif %}
	{% for block in post.get_field('blocks') %}
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
    </section><!-- /end .article-content -->
{% endblock %}

{% block after_content %}

	{% if post.citations %}
    <section class="article-citations">
        <h2 class="hed-section-sub">Citations</h2>
                <ul class="teaser-list">
                {% for item in post.get_field('citations') %}
                    {% set item = TimberPost(item) %}
                    <li class="teaser">
                        <div class="teaser-inner">
                            <h3 class="hed-teaser"><a class="hed-teaser-link" href="{{item.source_url}}">{{item.title}}</a></h3>
                            <p class="teaser-meta">

                                {{ item.source_author ? 'By ' ~ item.source_author }}

                                {% if item.source_publication %}
                                    {% if item.source_author %} for {% else %} Originally published in {% endif %}
                                    <a href="{{item.source_url}}"><cite>{{item.source_publication}}</cite></a>
                                {% endif %}

                                {% if item.source_date %}
                                    {% if ( item.source_publication or item.source_author ) %} on {% endif %}
                                    <time datetime="{{ item.source_date|date('Y-m-d') }}">{{ item.source_date ? item.source_date|date('F j, Y') }}</time>
                                {% endif %}

                            </p>
                        </div><!-- /end .teaser-inner -->
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

{% endblock %}
