{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-single.twig' %}
{% endblock %}

{% block content %}

	{% for block in post.get_field('blocks') %}
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

{% endblock %}

{% block after_content %}

	{% if post.citations %}
		<div class="contain-lg">
			<h4>Citations</h4>
			<ul class="citations-list">
				{% for item in post.get_field('citations') %}
					{% set item = TimberPost(item) %}
					<li class="citations-list-item">
						<a class="citation-link" href="{{item.source_url}}">{{item.title}}</a><span class="meta-dark">
						{{item.source_author ? 'By ' ~ item.source_author}}
						{{item.source_publication ? item.source_publication}}
						{{item.source_date ? item.source_date|date('| F j, Y')}}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

{% endblock %}
